
*{
  box-sizing: border-box;
  font-family:  'Silkscreen';
}

.game-screen{
width: 100wh;

overflow: hidden;
}



.centered{
    background-color: red;

    text-align: center;

    height: 75vh;
    width: 75vw;

    position: fixed;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
  }

  .box{
    height: 50px;
    width: 50px;
  }

  .key-btn,.enter-btn{
   margin-right: 4px;
  }

.flag{
  width: 60px;
  height: 35px;
}

.navbar{
  background-color: black;
  max-width: vw;
}

/* <ul class="dropdown-menu language-btn-array">

              <!-- EN button -->
              <li class="language-btn">
                <div class="dropdown-item" style="pointer-events: none;">
                  <div class="row" style="pointer-events: none;">

                    <div class="col text-center">EN</div style="pointer-events: none;">

                    <img class="col flag" src="./flags/EN.png" alt="en-flag" style="pointer-events: none;">

                  </div>
                </div>
              </li>
              <!-- EN button -->

               <!-- DE button -->
               <li class="language-btn">
                <div class="dropdown-item" style="pointer-events: none;">
                  <div class="row" style="pointer-events: none;">

                    <div class="col text-center">DE</div style="pointer-events: none;">

                    <img class="col flag" src="./flags/DE.png" alt="en-flag" style="pointer-events: none;">

                  </div>
                </div>
              </li>
              <!-- DE button -->             



              <!-- TR button -->
              <li class="language-btn">
                <div class="dropdown-item" style="pointer-events: none;">
                  <div class="row" style="pointer-events: none;">

                    <div class="col text-center">TR</div style="pointer-events: none;">

                    <img class="col flag" src="./flags/TR.png" alt="en-flag" style="pointer-events: none;">

                  </div>
                </div>
              </li>
              <!-- TR button -->    


            </ul>
            <!-- language selection --> */

