.body{
    overflow-x: hidden;
}
.hole{
    overflow: visible;
    
    background: black;

    border-radius: 50%;

    height: 65px;
    width: 90px;

    min-height: 60px;
    min-width: 90px;
    


}

.mole{
    display: none;
    height: 100px;
  
}

.pause-btn{
    opacity: 75%;
}

.holes-container{
    border-radius: 20%;
    width: 400px;
    height: 600px;
    overflow: hidden;
}

.centered{
   
    position: fixed;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
  }
